.hero-img{
	align-items: center;
	text-align: center;

}
#hero{
	margin-top: 20vh;
}
.card{
	border: none;
}
.card-materi{
	border: none;
	width: 180vh;
}
.pendahuluan{
	display: flex;
	margin-top: 50vh;
}
/* .navbar{
	position: fixed;
	width: 100%;
	margin-top: -120px;
} */
